<mat-card>
    <mat-card-header>
        <mat-card-title>Application Info</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="this.AppInfo$">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> <div class="metric-header">Bob Info</div> </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="metric-panel">
                <div hidden class="metric-readings">
                    <label>Version:</label>
                    <span id="applicationVersion">{{(AppInfo$ | async)?.version}}</span>
                </div>
                <div hidden class="metric-readings">
                    <label>Frame Size:</label>
                    <span id="applicationVersion">w={{(AppInfo$ | async)?.frame_width}} x h={{(AppInfo$ | async)?.frame_height}}</span>
                </div>
                <div hidden class="metric-readings">
                    <label>FPS:</label>
                    <span id="applicationVersion">{{(AppInfo$ | async)?.video_fps}}</span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-card-content *ngIf="!this.AppInfo$">
        No Data
    </mat-card-content>
</mat-card>
