<mat-card>
    <mat-card-header>
        <mat-card-title>Application State</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="this.AppState$">
            <div class="metric-panel">
                <div class="metric-header">Incoming ROS2 Messages</div><br>
                <div hidden class="metric-readings">
                    <label>BOB Version:</label>
                    <span id="applicationVersion">0</span>
                </div>
                <div class="metric-header">Tracker Status</div><br>
                <div class="metric-readings">
                    <label for="sensitivity">Sensitivity:</label>
                    <span id="sensitivity">{{(AppState$ | async)?.sensitivity}}</span>
                </div>
                <div class="metric-readings">
                    <label for="tracking">Tracking:</label>
                    <i><fa-icon [icon]='this.formatTrackingIcon((AppState$ | async)?.alive)' [ngClass]="(AppState$ | async)?.alive > 0 ? 'green' : 'red'"></fa-icon></i>
                </div>
                <div class="metric-readings">
                    <label for="tracking">Recording:</label>
                    <i><fa-icon [icon]='this.formatRecordingIcon((AppState$ | async)?.alive)' [ngClass]="((AppState$ | async)?.recording) ? 'green' : 'red'"></fa-icon></i>
                </div>

                <div class="metric-readings">
                    <label for="trackable">Trackable:</label>
                    <span id="trackable">{{(AppState$ | async)?.trackable}}</span>
                </div>
                <div class="metric-readings">
                    <label for="alive">Alive:</label>
                    <span id="alive">{{(AppState$ | async)?.alive}}</span>
                </div>
                <div class="metric-readings">
                    <label for="started">Started:</label>
                    <span id="started">{{(AppState$ | async)?.started}}</span>
                </div>
                <div class="metric-readings">
                    <label for="ended">Ended:</label>
                    <span id="ended">{{(AppState$ | async)?.ended}}</span>
                </div>                                                               

                <br>
                <div class="metric-header">Observer Status</div><br>
                <div class="metric-readings">
                    <label for="day_night_classification">Day/Night:</label>
                    <i><fa-icon [icon]="this.formatDayNightIcon((AppState$ | async)?.day_night_enum)" [ngClass]="this.formatDayNightClass((AppState$ | async)?.day_night_enum)"></fa-icon></i>
                </div>
                <div class="metric-readings">
                    <label for="day_night_classification">Cloud Cover:</label>
                    <span id="day_night_classification">{{this.formatCloudCover((AppState$ | async)?.percentage_cloud_cover)}}</span>
                </div>                
                <!--<div>max_blobs_reached: {{(AppState$ | async)?.max_blobs_reached}}</div>
                <div>unimodal_cloud_cover: {{(AppState$ | async)?.unimodal_cloud_cover}}</div>            
                <div>avg_brightness: {{(AppState$ | async)?.avg_brightness}}</div>-->
            </div>
        </div>
        <div *ngIf="!this.AppState$">
            No Data
        </div>
    </mat-card-content>
</mat-card>
