@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, -apple-system, sans-serif;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }
}
