<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #drawer mode="over" color="accent">
      <mat-toolbar class="nav-item-heading">
        Main Menu
      </mat-toolbar>
      <mat-nav-list>
        <bob-nav-item icon="dns" [routerLink]="['vision']" (click)="drawer.toggle()">
          Vision
        </bob-nav-item>
        <bob-nav-item icon="dns" [routerLink]="['recordings']" (click)="drawer.toggle()">
          Recordings
        </bob-nav-item>        
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content navigationRoute="/">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" matTooltip="Main Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo-nav">
          <img src="../../../../assets/images/bob_logo_horizontal.png">
        </div>           
        <span>{{name()}} - v{{version()}}</span>
        <span class="flex-spacer">&nbsp;</span>
        <button mat-icon-button [matMenuTriggerFor]="profileToolbarMenu" matTooltip="My Profile">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #profileToolbarMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu>
      </mat-toolbar>  
  
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
  
      <div class="app-footer background-accent">
        <div>
            ©{{year()}} - {{name()}}. All Rights Reserved. Version {{version()}}.
        </div>
      </div>
  
    </mat-drawer-content>
  
  </mat-drawer-container>