@import '@angular/material/theming';
@import '../../../../scss/material/theme.scss';

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

a.mat-mdc-list-item.active { 
  //background-color: mat-color($pad-primary, 0.10);
  background-color: mat-color($bob-accent, 0.50);
}