.canvas {
    position: absolute; /* Absolutely position all children */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: 0px solid black;
    z-index: 16;
    margin-top: 20px;
    margin-left: 20px;
}