.top-bar{
    .menu-text{
        //@include grid-column(1,0);
        float: left;
        height: $header-top-bar-height;
        
        img{
            vertical-align: middle;
        }
    }
    ul{
        &.breadcrumbs{
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            li{
                float: left;
                padding: 0;
                margin: 0;
                &.first {
                    a{
                        padding: rem-calc(10 20);
                        &:after{
                            content: "";
                            padding: 0;
                        }
                        border-left: 1px solid $primary-grey;
                        border-right: 1px solid $primary-grey;
                    }
                }
                &.last{

                    a{
                        color: shade(white, 50%);
                        cursor: default;
                        &:after{
                            content:"";
                        }
                        &:hover{
                            span{
                                border-bottom: 0;
                            }
                        }
                        &:nth-child(1) {

                        }
                    }

                    &.first{
                        a{
                            color: white;
                            cursor: pointer;
                            &:hover{
                                span{
                                    border-bottom: 1px solid white;
                                }
                            }
                        }

                    }
                }
                &.last:nth-child(2){

                    a{
                        color: white;
                        cursor: pointer;
                        padding: rem-calc(10 20);
                    }

                }
                a{
                    //@extend .standard-transition-all;
                    color: white;
                    text-decoration: none;
                    padding: rem-calc(10 10);
                    margin: rem-calc(12 0);
                    border-left: 1px solid $primary-grey;
                    //padding-left: 65px;
                    position: relative;
                    display: block;
                    float: left;
                    display: block;
                    span{
                        //@extend .standard-transition-all;
                    }
                    
                    &:after{
                        content: "\203A";
                        font-size: 100%;
                        color: $primary-grey;
                        padding-left: 15px;
                        text-decoration: none !important;
                    }
                    border: 0;
                    
                    //height: $header-top-bar-height;
                    //line-height: 50px;
                    // &::before{
                    //   @extend .standard-transition-all;
                    //   content: " ";
                    //   display: block;
                    //   width: 0;
                    //   height: 0;
                    //   border-top: 35px solid transparent;
                    //   border-bottom: 35px solid transparent;
                    //   border-left: 20px solid $primary-grey;
                    //   position: absolute;
                    //   top: 50%;
                    //   margin-top: -35px;
                    //   margin-left: 1px;
                    //   left: 100%;
                    //   z-index: 1;
                    // }
                    // &::after {
                    //   @extend .standard-transition-all;
                    // 	content: " ";
                    // 	display: block;
                    // 	width: 0;
                    // 	height: 0;
                    // 	border-top: 35px solid transparent;           /* Go big on the size, and let overflow hide */
                    // 	border-bottom: 35px solid transparent;
                    // 	border-left: 20px solid $top-bar-bakcground;
                    // 	position: absolute;
                    // 	top: 50%;
                    // 	margin-top: -35px;
                    // 	left: 100%;
                    // 	z-index: 2;
                    //
                    // }
                    
                    &:hover{
                        span{
                            border-bottom: 1px solid white;
                        }
                        
                        &::after{
                            //border-left: 20px solid black;
                            text-decoration: none;
                        }
                        
                        &::after{
                            text-decoration: none;
                            
                        }
                    }
                    
                    
                }
                
                // &:last-child a:not(:only-of-type) {
                //   cursor: default;
                //   &:hover{
                //     background: none;
                //     span{
                //       border-bottom: 0;
                //     }
                //   }
                // }
            }
            
        }
        
    }
    
}

.top-bar-right{
    position: fixed;
    right: 0;
    top: -1px;
    background: $menu-bg;
}
