.filters{
  @extend .full-width-row;

  .filter-wrap{
    @extend .full-width-row;
    //margin-bottom: rem-calc(20);
    background: tint($html-background, 80%);
    .text-search-filter{
      @extend .full-width-row;
      .button{
        &.filter-toggle{
            //background: tint($html-background, 80%);

            &:hover{
                background: shade($html-background, 20%);
            }
            &:focus{
                outline: -webkit-focus-ring-color auto 5px !important;
            }
        }
      }

      .first{

        @include grid-column(14,0);

        .input-group{
          margin-bottom: 0;
        }
      }
      .second{
        @include grid-column(2,0);
      }
    }
    .filter-button{
      @include grid-column(2,0);
    }

  }
  .filters-fields{

    @extend .full-width-row;
    //background-color: #f6f6f6;
    overflow: hidden;
    .filter-wraps{
      #filter-form{
        padding: rem-calc(20 20);
      }
    }
  }
}
.filter-tags-wrap{
  @extend .full-width-row;

  .filter-tags{
    margin: rem-calc(30 0);

    .tag{
      background: $primary-grey;
      color: white;
      display: block;
      padding: 2px 10px;
      margin-bottom: 3px;
      margin-right: 3px;
      float: left;
      font-weight: bold;

      &:hover{
        background: tint($primary-grey, 20%);
      }

      span{
        vertical-align: middle;
        //padding-top: 3px;

      }
    }
  }

}
