
fieldset {
  legend {
    display: none;
  }
  &.hidden-class {
    visibility: hidden;
    /*display: none;  //throws an error, god knows why...*/
    position: absolute;
    left: -100000px;
  }
}

.form-container {
  //overflow: hidden;
  position: relative;

  .stretch {
    width: 5px;
    background: $primary-yellow;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .form-header {
    background: $primary-yellow;
    padding-top: 40px;
    margin-bottom: 20px;
    @include grid-row;
    max-width: 150rem;
    .titles {
      @include grid-column(10, 0);
      @include grid-column-position(1);
      .form-title {
        //padding-left: rem-calc(100);
      }
      .subTitle {
        //padding-left: rem-calc(100);
        padding-bottom: 20px;
      }
    }
    &.has-back-button {
      .back-button {
        @include grid-column(2, 0);
      }
      .titles {
        @include grid-column(9, 0);
        @include grid-column-position(1);
        .form-title {
          //padding-left: rem-calc(100);
        }
        .subTitle {
          //padding-left: rem-calc(100);
          padding-bottom: 20px;
        }
      }
    }
  }
  .form-footer {
    background: $primary-yellow;
    padding-top: 40px;
    padding-bottom: 40px;
    @include grid-row;
    .details {
      @include grid-column(11, 0);
      @include grid-column-position(1);
    }
    .footer-nav {
      @include grid-column(11, 0);
      @include grid-column-position(1);

      .button {
        background: $html-background;
        margin-bottom: 0;
      }
    }
  }

  .form-header {
    .form-title {

    }
    .form-subtitle {

      padding-bottom: 20px;
    }
    .form-markup {

    }
  }

  .group-title {
    @include grid-column(10, 0);
    @include grid-column-position(1);
    @include grid-column-end;
    padding-top: 25px;
    h3 {
      margin-bottom: rme-calc(10);
    }
  }

  .control.tableGroup {
    //margin: 30px 8.333% 10px 8.333%;

    /*width: auto;*/
    //width: 83.4%;

    .tableGroup-table {
      width: 100%;
      margin-bottom: rem-calc(20);
      position: relative;
      // th.empty-head{
      //     width: 100%;
      //     float: left;
      //     height: 44px;
      // }

      .help-text {
        display: none;
      }

      td:first-child {
        min-width: 150px;
      }

      .form-control .control .elements .form-element {
        position: initial;
        left: 0px;
      }

      td {
        .error-text {
          display: none;
        }
      }

      tbody tr:nth-child(even) {
        background-color: #ffffff;
      }

      .form-control {
        width: 100%;
        padding: 0 0 0 0;

        .state-indicator,
        .indicator {
          display: none;
        }

      }
      th {
        background: #E5E5E3;
        padding: 10px;
        //border: 1px solid #ffffff;
        font-size: rem-calc(18px);
      }
      td {
        border: 1px solid #E5E5E3;
        padding: 0px;
        vertical-align: top;

        label,
        .form-label {
          display: none;
        }
        .radio-row {
          float: left;
          padding: 0;
          label {
            display: block;
            float: left;
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            left: auto;
            padding-left: 0;
            margin-left: rem-calc(5);
          }
          input[type='radio'] {
            display: block;
            float: left;
            margin-top: rem-calc(10);
          }
        }

        .markup-wrapper {
          padding: 0;
          margin: rem-calc(10 0 0 15);;
          vertical-align: middle;
        }

        .form-element {
          width: 100%;
          float: left;

          input,
          select,
          textarea {
            margin-bottom: 0;
          }
          .input-group.number {
            width: 100%;
          }
          .input-group {
            margin: 0 0 0 0;
          }
          select {
            margin: 0 0 0 0;
            min-width: rem-calc(150);;
            border: 0;
          }
          .input-group-button {
            display: none;
            border: 0;
          }

          .input-group-field {
            border: 0;
            text-align: center;
          }

          .stepper-input {
            border: 0;
          }
          select {
            border: 1px solid #cacaca;
          }
          .button-group {
            margin: 0px;
            a {
              width: 48%;
              box-sizing: border-box;
              margin: 1%;
              background: #eeeeee;

              &.button.active {
                background-color: #ffd200;
              }
            }
          }

          .searchlist,
          .searchlistmulti {
            //position: relative;
            .tag-wrap {
              border: 0;
            }
            .text-search {
              .input-group-field {

                text-align: left;
              }

            }
            .searchlist-search {
              position: absolute;
              top: 10px;
              width: 100%;
              z-index: 100;
              .buckets {
                @extend .shadow;
              }
            }
          }
          // Date and time fields
          .ng2-datetime-wrapper {

            .form-inline {
              .input-group-addon {
                display: none;
              }
              .input-group {
                &.date,
                &.timepicker {
                  width: rem-calc(70);
                  //@include grid-column(3,0);
                }
              }
            }
          }
        }
        .elements {
          .error-text,
          .error-text:last-child {
            font-size: rem-calc(13);
            font-style: italic;
            padding: 10px 5px 0 5px;
          }
        }
      }

      button.add-table-row {
        margin: -20px 0 0 0;
      }
    }
  }

  .remove-row-column {
    width: 28px;
    .remove-row {
      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
        float: left;
      }
      .ico-close {
        font-size: 24px;
        color: #aaa;
        margin: 8px 2px;
        float: left;
        width: 24px;
        height: 24px;
        &:hover {
          color: #36424a;
        }
      }
    }
  }
}

.hidden-element {
  display: none;
}

.form-row {
  margin-bottom: rem-calc(18);
  @include grid-row;
}

.form-control {
  @include grid-column-unposition;
  @include grid-column(12, 0);
  @include grid-column-collapse;

  padding-bottom: 15px;

  .linked-question {
    .control {
      background: lightyellow;
    }
  }

  .control {
    @include grid-column(12, 0);
    @include grid-column-collapse;
    //@include grid-column-position(1);
    // @include grid-column(12);

    &.background {
      background: $primary-yellow;
      padding-top: 40px;
    }
    .elements {
      @include grid-row;

      .map-input-wrapper {
        @include grid-column(10, 0);
        @include grid-column-position(1);
        //@include grid-column-offset(1);
        @include grid-column-end;
      }

      .markup-wrapper {
        padding-left: rem-calc(90);
        margin-bottom: 10px;
      }

      label,
      .form-label {

        margin-bottom: 8px;
        line-height: rem-calc(28);
        padding: 5px 0 0 0;

        @include grid-column(10, 0);
        @include grid-column-position(1);
        @include grid-column-end;

      }

      .help-text {
        @include grid-column(10, 0);
        @include grid-column-position(1);
        @include grid-column-end;
        margin: 0 0 10px 0;
        /*@include grid-column-row(0);*/
        /*padding-left: rem-calc(90);*/
        p {
          color: tint($secondary-grey, 10%);
          margin-bottom: 10px;
        }
      }
      .error-text {
        // @include grid-column-row(0);
        // padding-left: rem-calc(90);
        @include grid-column(10, 0);
        @include grid-column-position(1);
        @include grid-column-end;

        &.group {

          float: none;
          width: auto;
        }
        .help-text {
          //padding-left: 0;
          @include grid-column-unposition;
        }
        p {
          color: $secondary-red;
          margin-bottom: 10px;
        }
      }

      .form-element {
        @include grid-column(10, 0);
        @include grid-column-position(1);
        //@include grid-column-offset(1);
        @include grid-column-end;
        &.radios {
          &.ng-valid, &.ng-invalid {
            @include grid-column-position(1);
          }
        }
        &.ng-valid {
          @include grid-column-position(0);
        }
        &.ng-invalid {
          @include grid-column-position(0);
        }
        .help-text {
          padding-left: 1rem;
          &.ng-valid {
            @include grid-column-position(0);
          }
          &.ng-invalid {
            @include grid-column-position(0);
          }
        }
        .checkbox-row,
        .radio-row {
          position: relative;
          padding: 8px 0;
          // display: inline;
          // clear: left;
          input {
            // position: relative;
            // z-index:9;
            margin-left: rem-calc(15);
            display: inline-block;
          }
          label {
            @include grid-column-unposition;
            display: inline-block;
            float: none;
            margin-bottom: 0;
            padding-right: rem-calc(15);
            width: auto;
          }
          &:hover {
            background-color: tint($secondary-grey-2, 90%);
          }
        }
        .quick-question-summary {
          @include grid-row;
          margin: rem-calc(40 0);
          .quick-question-label {
            @include grid-column-unposition;
            margin-bottom: 0;
          }
          .quick-question-answer {
            font-weight: bold;
            margin-bottom: 8px;
            @include grid-column(10, 0);

            @include grid-column-end;
          }
        }
      }
      // Validationg indicators
      .state-indicator {
        @include grid-column(1, 0);
        .indicator {
          float: right;
          padding: 6px;
        }
      }
    }

    &.radio {

      .elements {
        .form-label, .help-text {
          @include grid-column-position(1);
          &.ng-valid, &.ng-invalid {
            @include grid-column-unposition;
          }

        }
        .form-elements {
          @include grid-column(10, 0);
          @include grid-column-position(1);
          @include grid-column-end;
        }
      }
    }

    textarea,
    select,
    input[type] {

      &:focus {
        border-left: 5px solid shade($secondary-grey-2, 100%);
      }
      &.ng-untouched {
        background-color: tint($secondary-grey-2, 90%);
        &:hover {
          background-color: tint($secondary-grey-2, 100%);
        }
      }
      &.ng-touched {

        &.ng-invalid {
          border-color: $secondary-red;
          // border-left: 5px solid $secondary-red;
        }
      }
      &.ng-prinstine {

      }
      &.ng-dirty {
        &.ng-valid {
          border-left: 5px solid $secondary-green;
        }
      }

      &.ng-invalid {

      }
    }
  }
  input[type=checkbox],
  input[type=radio] {
    margin-bottom: 0;
  }
}

.checkbox-row,
.radio-row {
  &:last-child {
    // border-bottom: 1px solid white;
  }
  // border-top: 1px solid white;
  padding-left: 1rem;
  &:hover {
    background-color: tint($secondary-grey-2, 90%);
  }
}

// Radio/label replacement to acheive 'button'
.form-control.button-style .control .elements .form-element {
  width: 100%;

  .radio-row {
    padding: 0;
    position: relative;
    border-top: 0;
    float: left;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: transparent;
    }
    input[type=radio] {
      display: none;
      margin: 10px;
    }
    input[type=radio] + label {
      padding: 16px 25px;
      margin-right: 4px;
      display: inline-block;
      background: white;
      position: relative;
      line-height: normal;
      &:hover {
        background-color: $primary-yellow;
      }
    }
    input[type=radio]:checked + label {
      background-color: $primary-yellow;
    }
  }
}

#filter-form {
  label, .form-label, .form-element {
    @include grid-column(12, 0);
    @include grid-column-position(0);
    @include grid-column-position(0);
  }

  .state-indicator {
    display: none !important;
  }

  .form-control .control input[type].ng-touched.ng-invalid,
  .form-control .control select.ng-touched.ng-invalid,
  .form-control .control textarea.ng-touched.ng-invalid {
    border-color: $medium-gray;
  }

  .filter-component {
    @include grid-column(6, 0);
    float: left !important;
    &:nth-child(odd) {
      padding-right: rem-calc(10);
      clear: left;
    }
    &:nth-child(even) {
      @include grid-column-end;
      padding-left: rem-calc(10);
    }
  }
}

.incident-messages {
  background: #f6f6f6;
  padding: 20px;
  ul {
    margin-bottom: 0;
  }
}

.incident-notes {
  textarea {
    height: 200px;
  }
}

.ico-link {
  background: #ff0000;
  height: 20px;
  width: 20px;
  float: left;
}

.form-control-readonly {
  margin: 0px 0 8px 0;

  .indicator {
    visibility: hidden;
  }
  .control .elements {

    .form-element {
      .checkbox-row,
      .radio-row {
        padding: 0 0 8px 0;
      }
    }
  }
}

.has-tip {
  border-bottom: 0px !important;
}

.input-group select.input-group-field {
  height: 3.2rem;
}

/* Daily Log Table Question making sure cell is wide enough to stop radios breaking on to 2 lines */
#question-5637145171{
  .radio-row {
    float: left;
    padding: 0;
    width: 100%;
  }
  #question-5637152832_0{
    min-width: 160px;
  }
}
