.input-group-label{
    &.icon-label{
        padding: 7px;
        
        &[class^="ico-"],
        &[class*=" ico-"] {
            font-size: rem-calc(26);
        }
    }
}

.linked-status-false{
    .ico-pre-link{
        display: none;
    }
}

.has-help-message{
    cursor: help;
}

.dropdown-pane {
    background: #eaeae8;
    color: #333333;
    border-radius: 4px;
    font-size: rem-calc(16);
    left: 2px;
    margin: 0 0 0 0px;
}

.dropdown-pane::after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cacaca;
    margin: 0;
    bottom: -10px;
    left: 10px;
    position: absolute;
}