.menu-button{
  display: block;
  padding-top: 0!important;
  padding-bottom: 0!important;
  &.active{
    background: $primary-yellow;
    color: $primary-grey;
  }
  button{
    // padding-left: 10px;
    // padding-right: 10px;
    display: block;
    width: 100%;
    height:100%;

    cursor: pointer;
    &:hover{
      background: $primary-yellow;
      color: $primary-grey;
    }
  }
}

.main-menu{
  @extend .shadow;
  z-index: 999;
  overflow: hidden;
  height: 650px;
  @include grid-column(3, 0);

  &.incident-active {
    @include grid-column(12, 0);
    background: white;
    .sections-wrap{
      @include grid-row;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      max-width: none;

      // If we have an incidentID then we show the incident menu.
      .incident{
        @include grid-column(9, 0);
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .system{
        @include grid-column(3, 0);
      }
    }


  }

  .sections-wrap{
      @include grid-column(12, 0);
      .title{
        @include grid-row;
        h2{
          @include grid-column(12, 0);
          padding-left: 17px;
          font-size: rem-calc(25);
          font-weight: bold;
        }
      }
      .sections{
        @include grid-row;

        .section{
          @include grid-column(4);
          ul{
            margin: 0;
            padding: 0;
            li{
              list-style: none;
              border-bottom: 1px solid $html-background;
              font-size: rem-calc(18);
              &.section-title{
                font-weight: bold;
                font-size: rem-calc(25);
                border-bottom: 1px solid shade($html-background, 10%);
                margin-left: 0;
              }

              margin-left: 17px;
              a{
                width: 100%;
                display: block;
                color: $primary-grey;
                padding: 17px 25px;
                vertical-align: middle;
                &.is-active{
                  background-color: $primary-yellow;
                  em{
                    color: $primary-grey;
                  }
                }
                &:hover{
                  background-color: $primary-yellow;
                  em{
                    color: $primary-grey;
                  }
                }
                em{
                  font-size: rem-calc(16);
                  color: $primary-yellow;
                  float: right;

                }
              }
            }
          }
        }
      }
      .system{
        @include grid-column(12, 0);
        //@include grid-column-offset(9);
        background: $primary-yellow;
        height: 650px;

        .title{
          @include grid-row;
          padding-top: 40px;
          h2{
            @include grid-column(10);
            @include grid-column-position(2);
            font-size: rem-calc(25);
            font-weight: bold;
          }
        }
        .sections{

          .section{
            @include grid-column(11, 0);
            @include grid-column-position(1);
            ul{
              li{
                border-bottom: 1px solid tint($primary-yellow, 30%);
                a{
                  em{
                    color: $primary-grey;
                    font-size: rem-calc(24);
                    padding-right: 10px;
                    float: none;
                    margin-top: 4px;
                    vertical-align: middle;
                  }
                  &.is-active{
                    background-color: white;
                  }
                  &:hover{
                      background-color: white;
                  }
                }
              }
            }
          }
        }
      }
  }

}
