.processing-page{
    .dropdown{
        display: inline-block;
        background: $white;
        border: 1px solid $medium-gray;

        ul{
            width: 100%;
            z-index: 999;
        }
    }
    .action-menu{
        margin-bottom: rem-calc(20);
    }
    .tasks{
        button{
            display: inline-block;
            float: left;
            font-size: rem-calc(25);
            padding: rem-calc(7);
            outline: none;
            &:hover{
                background-color: $primary-yellow;
            }
            &.active{
                background: $secondary-blue;
            }
        }
    }
    .form-components-wrap{
        margin-bottom: 20px;
    }
    .incident-messages{
        background: $secondary-grey-3;
    }
    .processing-common{
        @include grid-column-unposition;
    }

    #question-assignedTo{
        width: 500px;
        background: #ffffff;
        margin: 0 0 -2px -166px;
        border: 1px solid #cacaca;
        .searchlist-search{
            width: 100% !important;
        }
    }
}

