.report-filters {
  margin-top: 20px;
  padding: 2%;
  background: #ffffff;
}

.report-filters .report-buttons .button {
  margin-right: 10px;
}

.help-text.report-help-text{  
	margin-top: 0;
}

.report-results {
  margin: 20px 0 0 0;

  table {
    tr {
      &:last-child {
        td {
          background: rgb(218, 238, 243);
        }
      }
      &.row-red td {
        background: #cc0000;
        color: #000000;
      }
      &.row-green td {
        background: #92d050;
        color: #000000;
      }
      &.row-yellow td {
        background: #e5e505;
        color: #000000;
      }
      th {
        text-align: center;
        background: #66d5ef;
        padding: .25rem .625rem .25rem !important;
      }
      td {
        text-align: center;
        &.cell-meta {
          display: none;
        }
      }
    }
  }

  .table-footer-text{
    font-style: italic;
  }
}

#map-report-data {
  position: relative;
  bottom: 20px;
  .report-info {
    padding: 20px 0 0 0;
  }
}
