.form-element{
    //2.625rem
    $sl-min-height: rem-calc(39);
    // -----------------
    // Shared between Searchlist,Searchlistmulti and Entity
    // -----------------
    .searchlist,
    .searchlistmulti,
    .entity{
        .input-group{
            margin-bottom: 0;
            display: block;
            /*overflow: hidden;*/
            .input-group-field {
                padding: 30px;
                border:0;

                min-height: $sl-min-height;
                //  min-height: 2.60rem;
                height: auto;
                // border-left: 5px solid $primary-yellow;

            }
            &.open{
                .input-group-field {

                }
                .input-group-button{
                    padding: 0;
                    .button{
                        background-color: tint($primary-yellow, 20%);
                    }
                }
            }
            .input-group-button{
                padding: 0;
                .button{
                    padding: 22px 20px 21px 20px;
                }
            }

        }

        .tag-wrap{
            background: #fefefe;
            @include clearfix;
            @include grid-row;
            border: $input-border;
            &.input-group{
                .input-group-field{
                    // lower to account for tag bottom margin thats needed to allow multiline tags
                    //padding: 14px 14px 5px 14px;
                    padding: 3px 3px 1px 3px;
                    padding-right: rem-calc(70);
                    //min-height: 60px;
                    @include clearfix;
                }

            }
            .tags{
                @include grid-column(12, 0);
                padding-right: rem-calc(67);
                padding-bottom: 0;
                // padding: 16px 16px 10px 16px;
                .tag{
                    float: left;
                    background: $primary-yellow;
                    font-weight: bold;
                    padding: 4px 18px;
                    margin-right: 3px;
                    margin-bottom: 3px;
                    border-radius: 2px;
                    max-width: 100%;
                    white-space: normal;
                    font-size: rem-calc(16);

                }
            }
            .button-wrap{
                width: rem-calc(67);
                position: absolute;
                top: 0;
                right: 0;
                // margin: 4px;
                .button{
                    display: block;
                    width: auto;
                    background: $html-background;
                    margin-bottom:0;
                    line-height: 44px;
                    height: $sl-min-height;
                    font-size:20px;
                    padding-top: 2px;

                    &:focus{
                        z-index: 100;
                        position: relative;
                        outline: -webkit-focus-ring-color auto 5px;
                    }
                }
            }
        }

        .text-search{
            margin-bottom: 0;


            .input-group{
                display: table;
            }


            .input-group-label {
                background: black;
                border: 1px solid black;
                color: white;
                font-size: rem-calc(20);
            }
            .input-group-field {
                padding: rem-calc(0 5);
                border:1px solid #cacaca;
                height: rem-calc(41);
                input{

                    &:focus{
                        border-left: 5px solid shade($secondary-grey-2, 100%);
                    }
                    &.ng-untouched{
                        background-color: tint($secondary-grey-2, 90%);
                        &:hover{
                            background-color: tint($secondary-grey-2, 100%);
                        }
                    }
                    &.ng-touched{

                        &.ng-invalid{
                            border-color: tint($secondary-red, 50%);
                            border-left: 5px solid tint($secondary-red, 50%);
                        }
                    }
                    &.ng-prinstine{

                    }
                    &.ng-dirty{
                        &.ng-valid{
                            border-left: 5px solid $secondary-green;
                        }
                    }

                    &.ng-invalid{

                    }
                }
            }
        }
    }
    // -----------------
    // Search List
    // -----------------
    .searchlist{
        .tag-wrap{
            .button-wrap{
                //height: 60px;
                .button{
                    //margin: 4px 4px 4px 0;
                    //height: 52px;
                    height: rem-calc(41);;
                    line-height: 40px;
                    vertical-align: middle;
                    padding-top: 2px;
                    &:hover{
                        background: shade($html-background, 10%);
                    }
                }
            }
        }
    }
    // -----------------
    // Search List Multi
    // -----------------
    .searchlistmulti{
        .tag-wrap{
            &.input-group{
                .tags{
                    min-height: rem-calc(41);
                    height:auto;
                    padding-bottom: 0;
                }
            }

            .button-wrap{
                //height: 60px;
                vertical-align:middle;
                .button{
                    height: rem-calc(41);;
                    line-height: 40px;
                    vertical-align: middle;
                    padding-top: 2px;
                    &:hover{
                        background: shade($html-background, 10%);
                    }
                }
            }
        }

        // .searchlist-selection{
        //   border-left: 5px solid $primary-yellow;
        // }
    }

    // -----------------
    // Entity
    // -----------------
    .entity{
        .input-group-field{
            height: auto;
            border-left: 5px solid $primary-yellow;

            .maintext{
                font-weight: bold;
            }
            .subtext{
                font-weight: normal;
            }
        }

        .tag-wrap{
            .button-wrap{
                //height: 76px;
                vertical-align:middle;
                .button{
                    margin: 0;
                    //height: 76px;
                    line-height: 60px;
                    vertical-align: middle;
                    background-color: $primary-yellow;
                    &:hover{
                        background: shade($primary-yellow, 10%);
                    }
                }
            }
        }
    }


} // end of form-elemen

.options-list-content{
    position: relative;

}

.searchlist-row{
    margin: 0;
    padding: 0;
		height: 100%;
		overflow-y: scroll;

    &.search-results{
        position: absolute;
        top: 0;
        left:0;
        z-index: 9;
        width: 100%;
        background: white;
    }

    li{
        padding:0;
        margin-bottom: 1px;
        list-style: none;
        &.disabled{
            display:none;
        }
    }

    li button{
        cursor: pointer;
        padding: 10px;
        background-color: white;
        font-size: rem-calc(18);
        width:100%;
        text-align: left;
        float: left;

        > span{
            display: inline-block;
        }

        .value{
            font-weight: bold;

        }
        .subtext{
            color: tint($secondary-grey, 40%);
        }
        &.searchlist-item{
            @include grid-row;
            border-bottom: 1px solid #cccccc;
            .searchlist-first{
                float: left;
                width: 90%;
                line-height: rem-calc(25);
                position: relative;
                top: 1px;
            }
            .searchlist-second{
                float: left;
                width: 10%;
                position: relative;
                top: -1px;
            }
        }

        &:focus,
        &:hover{
            @extend .standard-transition-all;
            outline: 0;
            background-color: tint($primary-yellow, 80%);
            color: black;
            .icon-circle{
                [class^="ico-"],
                [class*=" ico-"]{
                    color: $secondary-grey;
                }
            }
        }
        .icon-circle{
            display: block;;
            width: 26px;
            height: 26px;
            margin: 0 auto;
            text-align: center;

            [class^="ico-"],
            [class*=" ico-"] {
                font-size: rem-calc(30);
                color: tint($secondary-grey, 40%);
            }
        }
    }

    .loader-item{
        padding: 15px 0 5px;
        text-align: center;
        float: left;
        width: 100%;
        .loading{
            display: inline-block;
            float: none;
        }
    }
}
.input-group{

    &.text-search{
        margin-bottom: 0;
    }
}
.searchlist{
    .form-element{
        .entity{
            .tag-wrap{
                .button-wrap{
                    height: 100%;
                    vertical-align:middle;
                    .button{
                        height: 100%;

                    }
                }
            }
        }
    }
}

.searchlist-selection{
    .item{
        background-color: shade($secondary-grey-2, 10%);
        @include grid-column(6);
    }
}


.tableGroup-table{
    border-collapse: collapse;
    .search-list-filter-wrapper{
        position: absolute;
        width: 75%;
        min-width: 39em;
    }
}


.searchlist-search{
    @include grid-row;
    padding-top: 4px;
    overflow: hidden;

    .buckets{
        @include grid-column(12, 0);
        margin-top: 20px;
        background-color: white;
        position: relative;
        border: 1px solid #cccccc;
        &.single{
            @include grid-column(12, 0);
        }


        .filter-arrow-up{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 20px 20px;
            border-color: transparent transparent #ffffff transparent;
            position: absolute;
            top: -20px;
            left: 50px;
            z-index: 2;
        }
        .filter-arrow-up-border{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 22px 22px 22px;
            border-color: transparent transparent #cccccc transparent;
            position: absolute;
            top: -22px;
            left: 48px;
            z-index: 1;
        }

    }
    .search-list-filter-title{
        font-weight: bold;
        padding: 20px 10px;
    }

    // Options
    .options-list{
        @include grid-column(7,0);

        .no-results{
            @include grid-row;

            .no-results-message{
                margin-top: rem-calc(16);
                @include grid-column(12);
            }

        }
        &.single{
            @include grid-column(12,0);
            //@include grid-column-position(-4);
            .options-header-title{
                margin-bottom: 0;
                @include grid-column(11,0);
                font-weight: bold;
                font-size: rem-calc(18);
                padding-left: 10px;
                /*line-height: $search-filter-header-height;*/
                margin-top:4px;
                .tag{
                    float: left;
                    background: $primary-yellow;
                    font-weight: bold;
                    padding: 4px 18px;
                    margin-right: 6px;
                    margin-bottom: 6px;
                    border-radius: 2px;
                    line-height: normal;
                    margin-top: 8px;
                }
            }
            .bucket-header-save{
                //@include grid-column(1,0);
                width: 58px;
                position: absolute;
                top: 0;
                right: 0;
                height: $search-filter-header-height;
                margin-bottom:0;
            }
        }
        .options-header{
            @include grid-row;
            min-height: $search-filter-header-height;
            border-bottom: 1px solid #cccccc;
        }
        .options-list-items{
            @include grid-row;
            .options-list-content{
                @include grid-column(12,0);

                .searchlist-row{
                    height: 421px;
                    overflow-y: scroll;
                }
            }
        }
    }

    // Bucket

    .bucket-list{
        @include grid-column(5,0);
        border-left: 1px solid #cccccc;
        background-color: #f7f7f6;
        .bucket-header{
            @include grid-row;
            height: $search-filter-header-height;
            border-bottom: 1px solid #cccccc;

            text-align: center;
            //white-space: nowrap;



            .first{
                height: $search-filter-header-height;
                @include grid-column(9,0);
                text-align: left;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    margin-right: -0.25em; /* Adjusts for spacing */
                }

            }
            .second{
                height: $search-filter-header-height;
                @include grid-column(3,0);
            }

            .bucket-header-title{
                // height: $search-filter-header-height;
                // padding-left: 10px;
                // display: block;
                // float: left;
                padding: 0 10px 0 10px;
                margin-bottom: 0;
                text-align: left;
                font-weight: bold;
                font-size: rem-calc(18);
                display: inline-block;
                vertical-align: middle;
            }
            .bucket-header-save{
                // float: right;
                height: $search-filter-header-height;
                margin-bottom: 0;
            }
        }
        .bucket-list-items{

            @include grid-row;
            .bucket-list-content{
                @include grid-column(12,0);
                .searchlist-row{
                    height: 421px;
                    overflow-y: auto;
                }
            }
        }
    }
}

.search-container{
    position: relative;
    @include grid-column(3, 0);
    @include grid-column-collapse;
}
