.tabs{
  border-bottom: 1px solid tint($primary-grey, 80%);
  .tabs-title{

    a{
      @extend .standard-transition-all;
      color: $secondary-grey;
      border-bottom: 5px solid transparent  ;
      &:hover{
        transition: border-bottom 0s ease-out;
        color: $primary-grey;
        border-bottom: 5px solid tint($primary-yellow, 60%);
      }
      &.is-active{
        transition: border-bottom 0s ease-out;
        color: $primary-grey;
        font-weight: bold;
        border-bottom: 5px solid $primary-yellow;
      }
    }

      background: transparent;
      // a{
      //   @extend .standard-transition-all;
      //   transition: border-bottom 0s ease-out;
      //   color: $primary-grey;
      //   font-weight: bold;
      //   border-bottom: 5px solid $primary-yellow;
      // }
    }
    

  }
