<mat-card>
    <mat-card-header>
        <span class="flex-spacer">&nbsp;</span>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">chevron_left</mat-icon>
            <mat-icon *ngIf="sidenav.opened">chevron_right</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-sidenav-container class="example-container" autosize>
            <mat-sidenav #sidenav mode="side" position="end" (openedChange)="onOpenedChange($event)">
                <bob-bob-state *ngIf="this._displayAppState" [AppState$]="this._appState$"></bob-bob-state>
                <bob-mask-controls *ngIf="this._displayMaskControls"></bob-mask-controls>              
            </mat-sidenav>
            <mat-sidenav-content>
                <bob-stream-display [ImageStream$]="this._imageStream$"></bob-stream-display>      
            </mat-sidenav-content>
          </mat-sidenav-container>
    </mat-card-content>
</mat-card>
