//@use '@ng-matero/extensions' as mtx;
@use '@angular/material' as mat;

@import '@angular/material/theming';
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: 'Helvetica Regular, Helvetica, Arial, san-serif',
  $button: mat-typography-level(14px, 14px, 400),
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(14px, 24px, 400)
);

@include angular-material-typography($custom-typography);

// Default colors

//$qna-dark: rgb(13, 36, 44);
//$qna-light: rgb(102, 213, 239);

$bob-primary: mat-palette($mat-indigo, 800, 100, 900);
$bob-accent:  mat-palette($mat-grey, 300, A100, A400);
// The warn palette is optional (defaults to red).
$bob-warn: mat-palette($mat-red, 600);

$bob-theme: mat-light-theme($bob-primary, $bob-accent, $bob-warn);

@include angular-material-theme($bob-theme);
//@include mtx.all-component-themes($bob-theme);

//@import './themes/default-theme';
//@import './themes/light-theme';
//@import './themes/black-theme';
//@import './themes/nature-theme';

//@import 'styles-reset.scss-theme';
@import '../../app/mod-main/containers/app-root/app-root.component.scss-theme.scss';
/*@import './app/shared/big-input/big-input/big-input.component.scss-theme';
@import './app/features/about/about/about.component.scss-theme';
@import './app/features/examples/notifications/components/notifications.component.scss-theme';
@import './app/features/examples/todos/components/todos-container.component.scss-theme';
@import './app/features/examples/stock-market/components/stock-market-container.component.scss-theme';
@import './app/features/examples/theming/parent/parent.component.scss-theme';
@import './app/features/examples/theming/child/child.component.scss-theme';
@import './app/features/examples/examples/examples.component.scss-theme';
*/

@mixin custom-components-theme($theme) {
  /*@include anms-styles-reset-theme($theme);*/
  @include bob-app-component-theme($theme);
  /*@include anms-about-component-theme($theme);
  @include anms-big-input-component-theme($theme);
  @include anms-notifications-component-theme($theme);
  @include anms-todos-container-component-theme($theme);
  @include anms-stock-market-container-component-theme($theme);
  @include anms-parent-component-theme($theme);
  @include anms-child-component-theme($theme);
  @include anms-examples-component-theme($theme);*/
}
