<mat-card>
    <mat-card-header>
        <span class="flex-spacer">&nbsp;</span>
        <button mat-icon-button (click)="this.onToggleContextPanel()">
            <mat-icon *ngIf="!sidenav.opened">chevron_left</mat-icon>
            <mat-icon *ngIf="sidenav.opened">chevron_right</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>

        <mat-sidenav-container class="example-container" autosize>
            <mat-sidenav #sidenav mode="side" position="end" [opened]="this._contextPanelExpanded$ | async">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        Content
                    </mat-card-content>
                </mat-card>
            </mat-sidenav>
        
            <mat-sidenav-content>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>      
        
            </mat-sidenav-content>
          </mat-sidenav-container>               

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>



