@import '../../../../../styles-variables';

nav {
  margin-bottom: 20px;

  .mat-tab-link {
    min-width: 120px;
    padding: 0 15px;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .mat-tab-link {
      min-width: 0;
    }
  }
}

mat-card {

  mat-card-header {

    .spacer {
      flex: 1 1 auto;
    }

    button {

    }
  }

  mat-card-content {

    mat-sidenav-container {

      mat-sidenav {

      }

      mat-sidenav-content {
        
      }

    }
  }
}