
$search-filter-header-height: 50px;
$group-switch-height: $search-filter-header-height;

// Fixed Header top bar height and top padding for body
$header-top-bar-height: 70px;
$notifications-top: $header-top-bar-height + 20px;
$menu-bg: #0d242c;